@define-color base           #191724; /* Base */
@define-color warning        #f6c177; /* Gold */
@define-color modified       #ffdd4a; /* */
@define-color critical       #eb6f92; /* Love */
@define-color text           #e0def4; /* Text */
@define-color disabled       #6e6a86; /* Muted */
@define-color highlight      #ebbcba; /* Rose */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: @critical;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px ;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: @base;
    /* background: transparent; */
    color: @text;
    /* font-family: "FiraCode Nerd Font"; */
    /* font-family: "Mononoki Nerd Font"; */
    /* font-family: "CodeNewRoman Nerd Font"; */
    font-family: "Menli Nerd Font";
    font-size: 16px;
}

.modules-left, .modules-right {
    background-color: @base;
}

/* Every modules */
#backlight,
#battery,
#bluetooth,
#cava,
#clock,
#cpu,
#custom,
#disk,
#dwl,
#gamemode,
#group,
#idle inhibitor,
#image,
#jack,
#keyboard state,
#language,
#memory,
#mpd,
#mpris,
#network,
#pulseaudio,
#sndio,
#river,
#temperature,
#taskbar,
#upower,
#wireplumber,
#workspaces,
#user {
    /*
    margin: .25rem 0.5rem;
    min-width: .3rem;
    */
    padding: .25rem .75rem;
 }

#tray {
    margin-right: 0.5rem;
}
/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @critical;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: @warning;
}

#cpu.critical {
    color: @critical;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network.disconnected {
    color: @warning;
}

#pulseaudio {
    /* padding-top:6px; */
}

#pulseaudio.muted {
    color: @modified;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
}

#workspaces {
    font-size: 20px;
}

#workspaces button {
    color: @text;
    margin: 0 .2rem;
    padding: 0px;
}

#workspaces button.active {
    color: @highlight;
}

#workspaces button.visible { }

#workspaces button.urgent {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#workspaces button.persistent { }

#workspaces button.hidden { }

